@page
@model MatchSystem.Pages.Seat.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Seat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Seat.SeatNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Seat.SeatNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Seat.SeatSide)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Seat.SeatSide)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Seat.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
